name: M3UAndroid APK Build

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - run: chmod +x ./gradlew

      - name: Build M3UAndroid Debug APK
        run: ./gradlew :m3uandroid:assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: m3uandroid-debug-apk
          path: m3uandroid/build/outputs/apk/debug/*.apk
          
